## extensions
.vscode/
*.ipynb_checkpoints

## Private Projects
projects/Allysson/
projects/Dataminds/
projects/Omdena/

## Other repo
ecl-scr/

## zips files
zips/

## Stage files
python-projects/PROJETOS PYTHON PARA OLHAR/
r-projects/

cnae-extractor/
